#main-nav {
  height: 20px;
  background: #f2f2f2;
  padding: 5px;
}
#main-nav .subnav {
  display: none;
  position: absolute;
  top: 67px;
  left: 0px;
  width: 100%;
  list-style-type: none;
  background: #fff;
  margin: 0;
  border:solid 1px #eeeeee;
  padding:0;
}
#main-nav .subnav li {
  display: block;
  border-bottom: solid 1px #eeeeee;
  margin:0;
}
.light {
  background-color: rgba(211, 211, 211, 0.623);
}
.dark {
  background-color: rgba(211, 211, 211, 0.116);
}
#nav-primary {
  list-style-type: none;
  margin: 0;
  float: left;
  padding:0;
}
#nav-primary li {
  float: left;
  position: relative;
}
#nav-primary li a {
  float: left;
  color: #000;
  text-align: center;
  font-size: 14px;
  height: 48px;
  padding-top: 19px;
  line-height: 16px;
  width: 164px;
  text-decoration:none;
}
#nav-primary li:hover .subnav {
  display: block;
}